
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(33, 65, 1);
    font-size: x-large;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
}

#message-el {
    color: white;
    font-style: italic;
}

button{
    font-size: x-large;
    color: #016f32;
    width: 165px;
    height: 45px;
    background: goldenrod;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 2px;
}